{% extends 'shop/base.html' %}

{% block content %}


<div class="container mt-5">
    <h1>Detalle de Orden</h1>

    <h2>Datos de la Orden</h2>
    <p><strong>Fecha de Creación:</strong> {{ order.createdAt }}</p>
    <p><strong>Dirección de Envío:</strong> {{ order.address }}</p>
    <p><strong>Total:</strong> ${{ order.total }}</p>

    <h2>Productos en la Orden</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% for item_with_total in items_with_total %}
            <tr>
                <td>{{ item_with_total.item.product.name }}</td>
                <td>{{ item_with_total.item.product.description }}</td>
                <td>{{ item_with_total.item.amount }}</td>
                <td>${{ item_with_total.item.product.price }}</td>
                <td>${{ item_with_total.total }}</td>
            </tr>
        {%endfor%}

        </tbody>
    </table>

</div>

{% endblock content %}