{% extends 'shop/base.html' %}

{% block content %}

 
<div class="container mt-5">
    <h2>Carrito de Compras</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Total</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% if items %}
        {% for item in items %}
        <tr>
          <td>{{item.product.name}}</td>
          <td>{{item.product.price}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.total}}</td>
          <td>
            <a href="{%url 'dellToCart' item.id %}" class="btn btn-danger btn-sm">Eliminar del carrito</a>
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td><h5>Esto se ve muy vacio</h5></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  
    <div class="text-right">
      <h4>Total: {{total}}</h4>
      <a href="{% url 'confirmOrder' %}" class="btn btn-primary">Pagar</a>
    </div>
  </div>



  {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="fs-5 fw-bold text-danger"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}


{% endblock content %}